/* Font Settings */
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: 200;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
            format("truetype");
}
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: 300;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf")
            format("truetype");
}
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: 400;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
            format("truetype");
}
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: 500;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf")
            format("truetype");
}
@font-face {
    font-family: "IranSans";
    font-style: normal;
    font-weight: 700;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
            format("truetype");
}
* {
    font-family: "IranSans" !important;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    flex: 1;
}
/* Header Styles */
header {
    padding: 10px 20px;
    border-bottom: 2px solid #ccc;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    direction: rtl;
    background-color: #2a623e;
    border-radius: 8px;
}

.logo img {
    height: 60px;
}

/* Buttons Styling */
.buttons {
    display: flex;
    gap: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
    border: 1px solid transparent;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;
}

button:active {
    transform: scale(0.98);
}

/* Button Variants */
.btn-danger {
    background-color: #e63946;
    color: #fff;
    border-color: #e63946;
}

.btn-danger:hover {
    background-color: #d62839;
    border-color: #d62839;
}

.btn-primary {
    background-color: #2a623e;
    color: #fff;
    border-color: #2a623e;
}

.btn-primary:hover {
    background-color: #093218;
    border-color: #093218;
}

.btn-success {
    background-color: #2a623e;
    border-color: #2a623e;
}

.btn-success:hover {
    background-color: #053615;
    border-color: #053615;
}

input.form-control::placeholder {
    color: #6c757d;
    font-style: italic;
}
.siteName{
    margin-right: 8px;
}

button.btn-primary {
    font-size: 1rem;
    height: 100%;
    border-radius: 6px 0px 0px 6px;
}

.input-group {
    border: 1px solid #dee2e6;
    border-radius: 6px;
    width: 50%;
    justify-self: center;
    overflow: hidden;
}


/* sort */


.btn-outline-primary {
    border-color: #2a623e ;
    color: #2a623e;
}

.btn-outline-primary:hover {
    background-color: #2a623e;
    color: white;
}

.btn-outline-secondary {
    border-color: #6c757d;
    color: #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: white;
}


/* footer */
.footer {
    font-size: 0.9rem;
    line-height: 1.6;
    flex-shrink: 0;
}

.footer-logo {
    width: 80px;
    height: auto;
}
.footer ul {
    padding: 0;
    list-style: none;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a:hover {
    color: #badd72;
}

.footer hr {
    margin: 1.5rem 0;
}


/* Avatar Styles */
.user-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #2a623e;
    border-radius: 50%;
    overflow: hidden; /* برای تصویر */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* برش تصویر */
}

/* Dropdown Button */
.user-menu-btn {
    font-size: 0.9rem;
    color: #333;
    background-color: #2a623e;
    border: 1px solid #093218;
    padding: 5px 10px;
    /* border-radius: 50px; */
    transition: all 0.3s ease;
}

.user-menu-btn:hover , .user-menu-btn:focus {
    background-color: #093218;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Dropdown Menu */
.dropdown-menu {
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.3s ease-in-out;
}

/* Mobile Responsiveness */
@media (max-width: 576px) {
    .user-menu-btn {
        font-size: 0.8rem;
        padding: 5px 8px;
    }

    .user-avatar {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
    }
}

.dropdown-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 6px;
    transition: all 0.3s ease;
}

.dropdown-item i {
    font-size: 1.4rem;
    transition: transform 0.3s ease;
}

.dropdown-item:hover {
    background-color: #f9f9f9;
    color: #2a623e;
}

.bi{
    padding-left: 0.5vw;
    color:#2a623e !important;
}
