body {
    direction: rtl; /* متن را راست‌چین می‌کند */
    text-align: right; /* متن را به سمت راست تراز می‌کند */
    font-family: 'IRANSans', sans-serif; /* فونت فارسی مناسب */
}

.container {
    text-align: right; /* تراز متن‌های داخل کانتینر به سمت راست */
}


.category-section {
    margin-bottom: 50px;
}

.category-title {
    color: #333;
    background-color: #badd72;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 20px;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* شش ستون مساوی */
    gap: 20px; /* فاصله بین کارت‌ها */
}

@media (max-width: 1200px) {
    .book-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .book-grid {
        grid-template-columns: 1fr;
    }
}
