@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 200;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
            format("ttf");
}
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 300;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf")
            format("ttf");
}
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
            format("ttf");
}
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 500;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf")
            format("ttf");
}
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 700;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
            format("ttf");
}

* {
    font-family: "IranSans" !important;
}

a {
    text-decoration: none;
}

body {
    direction: rtl; /* متن را راست‌چین می‌کند */
    text-align: right; /* متن را به سمت راست تراز می‌کند */
    font-family: "IRANSans", sans-serif; /* فونت فارسی مناسب */
}

.container {
    text-align: right; /* تراز متن‌های داخل کانتینر به سمت راست */
}

.category-item {
    margin: 25px 0px;
}

.category-section {
    display: flex; /* فعال کردن Flexbox */
    align-items: center; /* تراز عمودی وسط */
    justify-content: space-between; /* فاصله برابر بین عناصر */
    gap: 20px; /* فاصله بین عنوان و دکمه */
    padding: 10px; /* کمی فاصله داخلی برای زیباتر شدن */
}

.category-title {
    font-size: 1.5em; /* سایز مناسب برای عنوان */
    font-weight: bold; /* ضخیم کردن متن */
    margin: 0; /* حذف فاصله پیش‌فرض */
}

.btn {
    margin: 0; /* حذف فاصله پیش‌فرض دکمه */
    align-self: center; /* تراز عمودی وسط برای دکمه */
}

.card-title {
    min-height: 3em;
    max-height: 3.5em;
    max-width: 10vw;
    margin-top: 16px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cover {
    width: 60%;
    align-self: center;
    height: 80%;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 15px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
#book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #0f0f0f1c;
    margin: 5px;
    border-radius: 10px;
}
#book-card:hover {
    cursor: pointer;
}
.card-body {
    margin: 16px 0px;
}
.card-text {
    text-align: center;
}
.book-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* شش ستون مساوی */
    gap: 15px; /* فاصله بین کارت‌ها */
}

@media (max-width: 1200px) {
    .book-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 768px) {
    .book-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .book-grid {
        grid-template-columns: 1fr;
    }
}
