@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 200;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix") format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf") format("ttf");
}/* POPPINS FONT */
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 200;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
        format("embedded-opentype"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
        format("woff2"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
        format("woff"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 300;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
        format("embedded-opentype"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2")
        format("woff2"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff")
        format("woff"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
        format("embedded-opentype"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
        format("woff2"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff")
        format("woff"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 500;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
        format("embedded-opentype"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
        format("woff2"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff")
        format("woff"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf")
        format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 700;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
        format("embedded-opentype"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
        format("woff2"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
        format("woff"),
      url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
        format("ttf");
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "IranSans" !important;
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 300;
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix") format("embedded-opentype"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf") format("ttf");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix") format("embedded-opentype"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff") format("woff"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf") format("ttf");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 500;
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix") format("embedded-opentype"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf") format("ttf");
}

@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 700;
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("./Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix") format("embedded-opentype"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
        url("./Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("ttf");
}

body {
    display: flex;
    justify-content: center;
    font-family: "IranSans";
    background-color: #d0ffe0;

}

.main {
  background-color: white;
  width: 30%;
  display: flex;
  flex-direction: row;
  padding: 3% 3% 0% 3% ;
  border: 1px solid #2a623e;
  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}

#form-register {
    display: flex;
    flex-direction: column;
}


#titrpp {
  margin-top: 5%;
    color: black;
    font-size: large;
}

.img-fluid {
  padding: 5%;
}

#name,
#family,
#emailuser,
#pass,
#educationLevel,
#phoneNumbers {

  -webkit-appearance: none;
  appearance: none;

  border: 1px solid #2a623e;
  border-radius: 10px;
  background-color: rgb(245 245 245 / 83%);
  width: 100%;
  padding: 4%;
  margin-top: 5%;
  text-align: right;
  font-family: "IranSans";
}


#name:hover,
#family:hover,
#phoneNumbers:hover,
#pass:hover {
    border: 1px solid #2a623e;
    background-color: rgb(245 245 245 / 83%);;
}

option {
    border: 1px solid #2a623e;
    border-radius: 20px;
    background-color: rgb(245 245 245 / 83%);;
    padding: 3%;
    width: 100%;
    font-family: "IranSans";
}

#Gender {
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#rememberMe:hover {
    cursor: pointer;
    color: #2a623e;
}



#vorodhesab {
    color: #2a623e;
    text-decoration: none;
}

#sabtnam {
  background-color: #2a623e;
  border: 1px solid #2a623e;
  border-radius: 10px;
  color: white;
  height: 15%;
  padding: 3%;
  text-align: center;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: larger;
}

#sabtnam:hover {
    cursor: pointer;
    /* background-color: rgb(25, 60, 142); */
}

#google {
    border: 2px solid rgb(238, 238, 238);
    background-color: white;
    padding: 10px;
    text-align: center;
    margin-top: 50px;
    color: black;
    font-size: larger;
    border-radius: 10px;
}

#google:hover {
    cursor: pointer;
    opacity: 0.7;
}

#rememberMes{
  margin-top: 5%;;
}

#forget {
    color: #2a623e;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;
}

#forget:hover {
    cursor: pointer;
    color: #2a623e;
}

img {
    margin: 0% auto;

}

.invalid {
    border: 2px solid red !important;
}

.error-message,
#genderError {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}



#sabt {
    text-align: center;
}

#google {
    border: 2px solid rgb(238, 238, 238);
    background-color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
    color: black;
    border-radius: 10px;
}

#google:hover {
    cursor: pointer;
    opacity: 0.7;
}

#togglePassword{
    position: absolute;
    top: 63%;
    transform: translateY(-50%);
    cursor: pointer;
    left: 3%;
}

input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: rgb(5, 41, 104) !important;
    color: fieldtext !important;
}
