/* POPPINS FONT */
@font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 200;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_UltraLight.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_UltraLight.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
            format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 300;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Light.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Light.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Light.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Light.ttf")
            format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 400;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum).eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum).woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum).woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum).ttf")
            format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 500;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Medium.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Medium.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Medium.ttf")
            format("ttf");
  }
  @font-face {
    font-family: IranSans;
    font-style: normal;
    font-weight: 700;
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot");
    src: url("../Assets/Font/IRANSans/WebFonts/fonts/eot/IRANSansWeb(FaNum)_Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff2/IRANSansWeb(FaNum)_Bold.woff2")
            format("woff2"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/woff/IRANSansWeb(FaNum)_Bold.woff")
            format("woff"),
        url("../Assets/Font/IRANSans/WebFonts/fonts/ttf/IRANSansWeb(FaNum)_Bold.ttf")
            format("ttf");
  }

  .content {
    margin-right: 20%;
    width: 80%;
    min-height: 100vh;
  }


  .sidebar {
    width: 20%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center; /* تنظیم عناصر به‌صورت افقی در وسط */
  }

  .logo {
    display: flex;
    flex-direction: column;
    align-items: center; /* تنظیم عناصر به‌صورت افقی در وسط */
    justify-content: center; /* تنظیم عناصر به‌صورت عمودی در وسط */
    height: 150px; /* ارتفاع هدر سایدبار */
    width: 100%; /* عرض هدر */
    background-color: #f8f9fa; /* رنگ پس‌زمینه دلخواه */
    border-bottom: 1px solid #ddd; /* خط جداکننده */

    padding-top: 16px;
    padding-bottom: 8px;
  }

  .logo img {
    width: 80px; /* تنظیم عرض لوگو */
    height: 80px; /* تنظیم ارتفاع لوگو */
    object-fit: cover; /* تنظیم محتوا داخل تصویر */
  }

  .logo-name {
    margin-top: 10px;
    font-size: 1.4rem;
    font-family: "IranSans";
    font-weight: bold;
    color: #000000; /* رنگ متن */
  }

  .sidebar-content {
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 0px;
    width: 100%;
  }

  .list {
    list-style: none;
  }

  .nav-link {
    display: flex;
    align-items: center;
    margin: 8px 0;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    color: #707070;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .nav-link:hover {
    background-color: #2a623e;
    color: #fff;
  }

  .nav-link i {
    margin-left: 16px; /* فاصله آیکون از متن */
    font-size: 18px;
  }

  .active {
    background-color: #2a623e;
    color: #fff;
  }

  .logout-section {
    margin: 20px; /* فاصله بین دکمه خروج و آیتم‌های دیگر */
    padding-top: 20px; /* فضای داخلی بخش خروج */
    border-top: 1px solid #e0e0e0; /* خط جداکننده */
  }
