
.card {
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 10px;
}

.card-header {
    background-color: #ffffff;
    font-weight: bold;
    padding: 15px;
    border-bottom: 1px solid #e9ecef;
}

.card.text-center {
    background-color: #ffffff;
    border: 1px solid #e9ecef;
    border-radius: 10px;
}

.card.text-center .card-title {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.card.text-center .card-text {
    font-size: 24px;
    font-weight: bold;
    color: #2a623e;
}

.table-hover tbody tr:hover {
    background-color: #f1f3f5;
}

.table thead th {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #495057;
}

.table tbody td {
    text-align: center;
    font-size: 14px;
    vertical-align: middle;
}

/* دکمه‌ها */
.btn-primary {
    background-color: #2a623e;
    border-color: #2a623e;
}

.btn-primary:hover {
    background-color: #084298;
    border-color: #084298;
}

.btn-outline-secondary {
    color: #6c757d;
    border: 1px solid #6c757d;
}

.btn-outline-secondary:hover {
    background-color: #6c757d;
    color: #ffffff;
}

.btn-outline-danger {
    color: #dc3545;
    border: 1px solid #dc3545;
}

.btn-outline-danger:hover {
    background-color: #dc3545;
    color: #ffffff;
}


input.form-control {
    height: 100%;
    font-size: 1rem;
    background-color: #f8f9fa;
}

input.form-control::placeholder {
    color: #6c757d;
    font-style: italic;
}

button.btn-primary {
    font-size: 1rem;
    padding: 0 20px;
    border-radius: 0;
}

.input-group {
    border: 1px solid #dee2e6;
    border-radius: 6px;
    overflow: hidden;
}
